{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <main class="flex-shrink-0">
        <div class="container">
            <div class="col-lg-10">
                <div class="row">
                    <h1 class="mt-5">{{ page.title|upper }}</h1>
                </div>
            </div>

            {% if page.image %}
                <div class="col-md-2">
                    <div class="row">
                        {% image page.image width-600 as img %}
                        <img src="{{ img.url }}" class="img-responsive" alt="{{ img.alt }}">
                    </div>
                </div>
            {% endif %}

            <div class="col-lg-10 mt-3">
                <div class="row">
                    {{ page.body|richtext }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}