{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <main class="flex-shrink-0">
        <div class="container">

            <div class="row mb-0">
                <div class="col-lg-12">
                    <h1 class="page-title mt-4 mb-0 text-uppercase">{{ page.home_title }}</h1>
                    <div class="lead mb-3">{{ page.intro|richtext }}</div>
                </div>
            </div>


            <div class="row mb-5">
                {% for block in page.content %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
