{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <main class="flex-shrink-0">
        <div class="container">

                  <div class="row">
                <div class="col-lg-10">
                    <h1 class="mt-5">{{ page.body|richtext }}</h1>
                    <div class="intro">{{ page.intro }}</div>
                </div>
            </div>

            <div class="row mt-5">
                {% for block in page.content %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
