{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}


{% block title %}{{ block.super }} - {{ image }}{% endblock title %}

{% block content %}
    <main class="flex-shrink-0">
        <div class="container">

            <div class="row">

                <div class="col-lg-12 "><h3 class="mt-3 mb-3 text-center">{{ image|upper }}</h3></div>

                <div class="col-lg-12">
                    <div class="contain">
                        <div>
                            {% image image max-1968x1312 as rendition %}
                            <div id="imgContainer">
                                <img src="{{ rendition.url }}" alt="{{ rendition.alt }}" title="{{ rendition.alt }}"
                                     class="img-responsive">

                                <div class="credit">Image ©
                                    {% if image.copyright == 'Chris Guy' %}
                                        <a href="{% slugurl 'about' %}">{{ image.copyright }}</a>
                                    {% else %}
                                        {{ image.copyright }}
                                    {% endif %}
                                </div>


                            </div>
                            <div class="mt-3 mb-5 text-center">
                                <a href="{% slugurl 'collections' %}" class="cta"><span class="rtn">&#8629;</span>
                                    collections</a>
                                <a href="{% slugurl 'blog' %}" class="cta"><span class="rtn">&#8629;</span> blog</a>
                            </div>
                        </div>
                    </div>


                </div>


            </div>

        </div>
    </main>
{% endblock %}
