[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "~=2.15"
django-environ = "~=0.8.1"
whitenoise = "~=5.3.0"
gunicorn = "~=20.1.0"
django-storages = "==1.12.3"
boto3 = "==1.20.7"
psycopg2-binary = "==2.9.2"
sentry-sdk = "*"
wagtail-robots = "==0.3.1"
django-debug-toolbar = "*"
wagtailmenus = "==3.0.2"
wagtail-lazyimages = "*"

[dev-packages]

[requires]
python_version = "3.9"
