[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "==2.16.2"
django-environ = "~=0.8.1"
whitenoise = "~=5.3.0"
gunicorn = "~=20.1.0"
django-storages = "==1.12.3"
boto3 = "==1.24.22"
psycopg2-binary = "==2.9.2"
sentry-sdk = "*"
django-debug-toolbar = "*"
pipenv = "*"
install = "*"
wagtail-robots = {git = "https://github.com/gidsey/wagtail-robots.git"}
pytest-django = "==4.5.2"
wagtailmenus = {git = "https://github.com/jazzband/wagtailmenus.git"}

[dev-packages]

[requires]
python_version = "3.9"
