{% load wagtailimages_tags %}
{% load lazyimages_tags %}
<div class="row collection-container">
        <div class="col-md-6 mb-1">
            {% lazy_image self.left_image width-1272 as img %}
            <img data-src="{{ img.url }}" src="{{ img.lazy_url }}" alt="{{ img.alt }}" title="{{ img.alt }}" class="lazy img-fluid collection_img">

        </div>
        <div class="col-md-6">
            {% lazy_image self.right_image width-1272 as img %}
            <img data-src="{{ img.url }}" src="{{ img.lazy_url }}" alt="{{ img.alt }}" title="{{ img.alt }}" class="lazy img-fluid collection_img">
        </div>
</div>