{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block body_class %}template-photocollectionpage{% endblock %}

{% block content %}
    <main class="flex-shrink-0">
        <div class="container">

            <div class="row">
                <div class="col-lg-10">
                    <h1 class="mt-5">{{ page.title }}</h1>
                    <div class="intro">{{ page.intro }}</div>
                </div>
            </div>

            {# Content #}
            {% for block in page.content %}
                <div class="my-5"> {% include_block block %}</div>
            {% endfor %}


            {# Link back #}
            <p class="clearfix mt-3">
                <a href="{% slugurl 'collections' %}" class="cta"><span class="rtn">&#8629;</span> collections</a>
            </p>


        </div>
    </main>

{% endblock %}
