{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}
{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <main class="flex-shrink-0">
        <div class="container">

            <div class="row mb-0">
                <div class="col-lg-12">
                    <h1 class="page-title mt-4 mb-0 text-uppercase">{{ page.title }}</h1>
                    <div class="lead mb-5">{{ page.intro|richtext }}</div>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-lg-12">
                    <div class="h6">Category:
                        <a href="{% slugurl 'blog' %}" {% if not category %}
                           class="text-uppercase small category category-on"
                        {% else %}
                           class="text-uppercase small category"
                        {% endif %}>All</a>
                        {% for cat in categories %}
                            <a href="{% routablepageurl page 'category_view' cat.slug %}"
                                    {% if category == cat %}
                               class="text-uppercase small category category-on"
                                    {% else %}
                               class="text-uppercase small category"
                                    {% endif %}>{{ cat.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-lg-8">
                    {% if all_tags %}
                        <div class="tags my-3">
                            <h6>Filter:</h6>
                            {% for tag in all_tags %}
                                <a href="{{ location }}?tag={{ tag.1 }}"{% if tag.1 == selected_tag %}
                                   class="small tag-on"
                                {% else %}
                                   class="small"
                                {% endif %}>{{ tag.0 }}</a>
                            {% endfor %}
                         {% if selected_tag %}<span class="rm-tags"><a href="{% slugurl 'blog' %}">clear filters</a></span>{% endif %}
                        </div>
                    {% endif %}
                </div>

            </div>


            <div class="row">
                {% if posts %}
                    {% for post in posts %}
                        <div class="col-lg-3 mb-3 ps-3 pe-3">
                            {% with post=post.specific %}
                                <a href="{% pageurl post %}" class="index-link"><h5>{{ post.title|truncatechars:20 }}</h5></a>
                                {% with post.hero as hero %}
                                    {% if hero %}
                                        {% image hero fill-800x532 as img %}
                                        <a href="{% pageurl post %}">
                                            <img src="{{ img.url }}" alt="{{ img.alt }}" class="img-fluid"></a>
                                    {% endif %}
                                {% endwith %}
                                <p class="small">{{ post.intro }}</p>
                            {% endwith %}
                        </div>
                    {% endfor %}
                {% else %}
                    <h3>No posts</h3>
                    <p>No blog posts found that match these criteria, please re-select.</p>
                {% endif %}
            </div>

            <div class="row mb-5">
                {% include '../pagination.html' %}
            </div>

        </div>
    </main>



{% endblock %}
