{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <main class="flex-shrink-0">
        <div class="container">

            <div class="row">
                <div class="col-lg-10">
                    <h1 class="mt-5">{{ page.title }}</h1>
                    <div class="intro"> By <a href="#">{{ self.blog_authors.all.first.author }}</a>
                        posted on {{ page.date }}
                        {% with categories=page.categories.all %}
                            {% if categories %} in
                                {% for category in categories %}
                                    <a href="{% slugurl 'blog' %}category/{{ category.slug }}"
                                       class="text-uppercase small">{{ category.name }}</a>{% if not forloop.last %},
                                {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>

            {# Content #}
            {% for block in page.content %}
                {% include_block block %}
            {% endfor %}

            {# Image gallery #}
            {% if page.gallery_images.all %}

                <div class="row">
                    <div class="col-lg-10">
                        <h3 class="mt-5">{{ page.gallery_info.first.gallery_title }}</h3>
                        <p>{{ page.gallery_info.first.gallery_description }}</p>
                    </div>
                </div>

                <div class="row">
                    {% for item in page.gallery_images.all %}
                        <div class="col-lg-4 mt-2 col-lg-4 px-1 img-gallery">
                            {% image item.image fill-580x580 as img %}
                            <img src="{{ img.url }}" alt="{{ img.alt }}" class="img-fluid">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {# Tags #}
            {% if page.tags.all.count %}
                <div class="tags my-3">
                    <hr>
                    <h6>Tagged with:</h6>
                    {% for tag in page.get_ordered_tags %}
                        <a href="{% slugurl 'blog' %}?tag={{ tag }}" class="small">
                            {{ tag }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}

            {# Link back #}
            <p class="clearfix mt-3"><a href="{{ page.get_parent.url }}">&lt; Blogs</a></p>

        </div>
    </main>

{% endblock %}
